[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.3.1"
pandas = "==3.0.1"
boto3 = "==1.42.54"
requests = "==2.32.5"
pyarrow = "==23.0.1"
sqlalchemy = "==2.0.46"
psycopg2-binary = "==2.9.11"

[dev-packages]
pytest = "==9.0.2"
autopep8 = "==2.3.2"
pytest-cov = "==7.0.0"
bump2version = "==1.0.1"

[requires]
python_version = "3.11"
